* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZmoh9cvGDPkLU1knUIqQ03n6rmGAMUIGjQDxcobOZVYmQnnJ0t0M7jiPTyLQyGjR_0Mk&usqp=CAU');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.img {
  width: 30vw;
  height: 100vh;
}
@media (max-width: 768px){
  .img{
    width: 30vw;
    display: block;
  }
}
.wrapper {
  width: 600px;
  height: 400px;
  margin: auto;
  background: rgb(209, 200, 200);
  border-radius: 10px;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: #445A6F;
  margin: 40px 0;
}

input {
  margin: 20px 0;
  width: 300px;
  padding: 8px;
}

input:focus-visible {
  outline: none;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #445A6F;
  border: 1px solid #445A6F;
  color: #fff;
  font-size: 20px;
  margin: 30px 0;
}
button:hover{
  cursor: pointer;
}
button:active{
  color: #3b3c3d;
}